{{define "base"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{template "title" .}} - TsundokuKeeper</title>
        <link rel="stylesheet" href="/static/css/main.css">

    </head>
    <body>
        <header>
            <h1><a href="/">TsundokuKeeper</a></h1>
        </header>
        {{template "nav" .}}
        <main>
            {{template "main" .}}
        </main>
        <footer>Something</footer>
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}